@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// Colors
$success: #449D44;
$primary: #1686C1;
$danger: #852406;
$default: #F2F2F2; 

// Background colors
$bg-menu: #383E4C;
$bg-post: $default;
$bg-btn: #E6E6E6;

// Fonts size
$font-size: 14px;
$font-size-h1: 36px;
$font-size-h2: 20px;
