/* Extra small devices */
@media only screen and (max-width: 600px) {

	.wrapper { width: 100% !important; padding: 0 20px; }

	nav {
		position: static !important;
		height: 350px !important;
	
		ul {
			width: auto !important;
			text-align: center;
		}
	}

	.nav {
		display: flex;
		flex-direction: column;
	}

	// MAIN SECTION

	.about, .blog, .secondary-content-items, form {
		display: flex !important;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
		justify-content: space-between !important;
	}
	.about, .blog, .secondary-content-items  {   
    flex-direction: column !important;
  }

	.about, .blog {
		max-width: 360px;
		margin: 0 20px 30px;
	}
	
	.post, .blog-post {
		margin-top: 30px;
		background: $bg-post;
		text-align: center;
	
		p, h2 { padding: 10px 20px; }
		img { width: 100%;}
	 }
	
	 .secondary-content-item {
		max-width: 360px;
		 margin: 30px;
		img { width: 100%;}
		 h2, p { padding: 10px 20px; }
	 }
	
	 .secondary-content-big {
		 max-width: 360px;
		 margin: 30px;
	
		 img { width: 100%; }
	
		 h2, p { padding: 10px 20px; }
	
	 }

	 form {
		 width: 85%;
		 margin: 0 auto;
		 flex-wrap: wrap;
		 ::placeholder { color: #000; }

		 input { width: 100% !important; }
	 }

	 .items-input, .item-textarea {
		 flex: 100%;
		 margin: 0 20px 30px;
		 max-width: 100% !important;
	 }

	 .contact-form {
		 width: 100% !important;
		 padding: 10px 10px !important;
	 }
}

/* Small devices */
@media only screen and (min-width: 600px) {
	
}

/* Medium devices */
@media only screen and (min-width: 768px) {
  
}