.btn {
  display: inline-block;
  margin: 20px auto;
  padding: 10px 30px;
  border-radius: 10px;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.3s ease;
  border: 1px solid #cdcdcd;
  background: #ffffff;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

.btn-default {
  color: #23527c;

  &:hover, &:focus { background: #E6E6E6 none repeat scroll 0 0; }
}

.btn-success {
  background: $success;

  &:hover, &:focus { background: darken($success, 10%) }
}

.btn-primary {
  background: $primary;

  &:hover, &:focus { background: #31B0D5; }
}

.btn-danger {
  background: $danger;

  &:hover, &:focus { background: darken($danger, 10%); }
}

.btn-dark {
  background: #333333;
  &:hover, &:focus { background: #cdcdcd; color: #333; }
}