html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

header, #services, .contact {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 200px 0;
  margin-bottom: 60px;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

.contact input, .contact textarea {
  margin-top: 15px;
  padding: 6px 12px;
  border: none;
  background: rgba(242, 242, 242, 0.4);
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* ===========================
   Base
   =========================== */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  font-family: "Open Sans";
  line-height: 1.6;
  background: white;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-transform: capitalize;
}

h2 {
  font-size: 20px !important;
  color: #666666;
  font-weight: 700;
}

.text-primary {
  color: #1686C1 !important;
}

.text-default {
  color: #852406 !important;
}

.text-success {
  color: #449D44 !important;
}

.btn {
  display: inline-block;
  margin: 20px auto;
  padding: 10px 30px;
  border-radius: 10px;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.3s ease;
  border: 1px solid #cdcdcd;
  background: #ffffff;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

.btn-default {
  color: #23527c;
}
.btn-default:hover, .btn-default:focus {
  background: #E6E6E6 none repeat scroll 0 0;
}

.btn-success {
  background: #449D44;
}
.btn-success:hover, .btn-success:focus {
  background: #357935;
}

.btn-primary {
  background: #1686C1;
}
.btn-primary:hover, .btn-primary:focus {
  background: #31B0D5;
}

.btn-danger {
  background: #852406;
}
.btn-danger:hover, .btn-danger:focus {
  background: #541704;
}

.btn-dark {
  background: #333333;
}
.btn-dark:hover, .btn-dark:focus {
  background: #cdcdcd;
  color: #333;
}

/* Extra small devices */
@media only screen and (max-width: 600px) {
  .wrapper {
    width: 100% !important;
    padding: 0 20px;
  }

  nav {
    position: static !important;
    height: 350px !important;
  }
  nav ul {
    width: auto !important;
    text-align: center;
  }

  .nav {
    display: flex;
    flex-direction: column;
  }

  .about, .blog, .secondary-content-items, form {
    display: flex !important;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
    justify-content: space-between !important;
  }

  .about, .blog, .secondary-content-items {
    flex-direction: column !important;
  }

  .about, .blog {
    max-width: 360px;
    margin: 0 20px 30px;
  }

  .post, .blog-post {
    margin-top: 30px;
    background: #F2F2F2;
    text-align: center;
  }
  .post p, .post h2, .blog-post p, .blog-post h2 {
    padding: 10px 20px;
  }
  .post img, .blog-post img {
    width: 100%;
  }

  .secondary-content-item {
    max-width: 360px;
    margin: 30px;
  }
  .secondary-content-item img {
    width: 100%;
  }
  .secondary-content-item h2, .secondary-content-item p {
    padding: 10px 20px;
  }

  .secondary-content-big {
    max-width: 360px;
    margin: 30px;
  }
  .secondary-content-big img {
    width: 100%;
  }
  .secondary-content-big h2, .secondary-content-big p {
    padding: 10px 20px;
  }

  form {
    width: 85%;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  form ::placeholder {
    color: #000;
  }
  form input {
    width: 100% !important;
  }

  .items-input, .item-textarea {
    flex: 100%;
    margin: 0 20px 30px;
    max-width: 100% !important;
  }

  .contact-form {
    width: 100% !important;
    padding: 10px 10px !important;
  }
}
/* Small devices */
/* Medium devices */
nav {
  position: fixed;
  width: 100%;
  background: #383E4C;
}
nav ul {
  width: 600px;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  margin: 0 10px;
  padding: 15px 20px;
  border: 1px solid #646d7c;
  transition: all 0.3s ease;
  font-size: 20px;
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  background: #49505F;
}

header {
  background-image: url("../images/bg-1.jpg");
  padding: 200px 0;
  color: white;
}
header h1 {
  text-shadow: 2px 2px #000;
  font-weight: 700 !important;
  font-size: 70px;
  text-transform: uppercase;
}
header p {
  font-size: 25px;
}

.wrapper {
  width: 1024px;
  margin: 0 auto;
}

.about, .blog, .secondary-content-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
}

.post, .blog-post, .secondary-content-item, .secondary-content-big {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  background: #F2F2F2;
}

.post h2,
.blog-post h2,
.secondary-content-item h2,
.secondary-content-big h2 {
  padding: 10px 20px;
}

.post p,
.blog-post p,
.secondary-content-item p,
.secondary-content-big p {
  padding: 0px 20px;
}

.blog-post {
  margin: 50px 0;
}

#services {
  background-image: url("../images/bg-2.jpg");
  padding: 100px 0;
  color: white;
}
#services p {
  width: 35%;
  margin: 0 auto;
}

.secondary-content-big {
  margin: 2rem 0;
}
.secondary-content-big img {
  width: 100%;
  height: 450px;
}

.contact {
  background-image: url("../images/1-1.jpg");
  padding: 150px 0;
  color: #000;
}
.contact form {
  display: flex;
}
.contact form ::placeholder {
  color: #000;
}
.contact .contact-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}
.contact h1 {
  margin-bottom: 20px;
  text-transform: capitalize;
  color: white;
  text-shadow: 2px 2px #333;
}
.contact p {
  background: rgba(242, 242, 242, 0.4);
  padding: 20px 15px;
  border-radius: 5px;
}
.contact .items-input, .contact .item-textarea {
  flex: 100%;
}
.contact input {
  width: 90%;
  display: block;
  height: 25px;
}
.contact textarea {
  width: 100%;
}

footer p {
  text-align: center;
  padding-bottom: 40px;
}
